[Container]
ContainerName=gwent
Image=ghcr.io/leonardjouve/gwent:latest
PublishPort=4567:3000
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
